





.footer-form .price-btn {
  margin: 0;
}


/* -----number 7 reviews------ */


.reviews-list {
  display: flex;
  gap: 64px;
  justify-content: space-between;
}
.reviews-response {
  color: #737373;
  letter-spacing: 0.01em;
  line-height: 1.75;
  margin-bottom: 16px;
}
.reviews-item {
  display: flex;
  gap: 14px;
}
.reviewer-name {
  color: #02897a;

  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 150%;
}
.reviews-list li {
  border: 1px solid #dedede;
  border-radius: 5px;
  flex-basis: calc((100% - 64px) / 3);
  overflow: hidden;
  padding: 26px;
}
.reviews-item img {
  margin-right: 14px;
}
/* ----section 8----- */

.order-offer-info {
  background: #02897a;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 968px;
  overflow: hidden;
  padding: 0 46px;
}
.order-join {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 151%;
  margin-bottom: 46px;
  max-width: 510px;
}
.get-this {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #02897a;
  display: block;
  font-size: 20px;
  font-weight: 600;
  max-width: 150px;
  padding: 9px 30px;
}
.get-this:hover,
.get-this:focus {
  background-color: #02897a;
  color: #fff;
}
.order-offer-text {
  padding: 52px 0;
}
/* -----footer menu----- */
footer {
  padding-bottom: 40px;
}
.footer-item .logo {
  margin-bottom: 18px;
  min-width: 178px;
  padding: 0;
}
.social {
  display: flex;
  gap: 20px;
  max-width: 178px;
}
.footer-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.container-footer {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}
.footer-link {
  line-height: 2.19;
}
.footer-menu {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
  max-width: 280px;
}
.footer-form {
  min-width: 325px;
}
.footer-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  display: block;
  line-height: 175%;
  margin-bottom: 25px;
  min-width: 325px;
  padding: 10px 12px;
}
.footer-input::placeholder {
  color: #02897a;
  opacity: 1;
}
.footer-sign-up {
  background-color: #02897a;
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: 700;
  padding: 8px 15px;
  text-align: center;
}
.rights {
  line-height: 187%;
  margin: 0 auto;
  max-width: 394px;
}

/* #2 customers */

.product-customers {
  background-color: #f5f5f5;
}
.brand-list {
  display: flex;
  gap: 64px;
  justify-content: center;
}
.hero-customers {
  padding: 100px 0;
}
.hero-customers-h1 {
  font-size: 40px;
  margin: 0 auto 50px;
  max-width: 229px;
}
.product-customers-h3 {
  font-size: 34px;
  margin: 0 auto 73px;
  max-width: 383px;
}
.product-customers-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.product-customers-item {
  border: 1px solid #dedede;
  border-radius: 10px;
  flex-basis: calc((100% - 60px) / 3);
  min-width: 350px;
  padding: 32px 26px 34px;
  text-align: center;
}
.product-customers-h4 {
  font-size: 24px;
  letter-spacing: 0;        /*перевірити*/
  line-height: 137%;
  margin-bottom: 16px;
}
/* ---#3 how product work--- */
.product-work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 72px;
}
.product-work-item {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 40px;
}
.step-number {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.step-h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.step-desc {
  line-height: 1.75;
}
.steps {
  padding: 35px 0;
  width: 438px;
}
.get-in-touch {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  max-width: 224px;
  padding: 7px 15px;
}
/* ---#4 join-us--- */
.join-us {
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}
.join-us .product-customers-h2 {
  margin: 0 auto 92px;
  max-width: 537px;
  text-align: center;
}
.join-us-list {
  display: flex;
  gap: 228px;
  justify-content: center;
}
.join-us-item {
  text-align: center;
}
.join-us-h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.join-us-li {
  font-size: 18px;
  line-height: 178%;
}
.join-us-link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
}
.join-us-link:hover,
.join-us-link:focus {
  text-decoration: underline;
}
/* ---list 3--- */

.pricing-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
  text-align: center;
}
.enterprise {
  background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}
.enterprise .container {
  text-align: center;
}
.enterprise-h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.enterprise-follow {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 8px;
}
.enterprise-desc {
  font-size: 18px;
  margin-bottom: 32px;
}
.product-used-item {
  margin-bottom: 32px;
  max-width: 543px;
}
.product-used-item:last-child {
  margin-bottom: 0;
}
.product-used-h2 {
  font-size: 34px;
  margin-bottom: 56px;
  text-align: center;
}
.product-used-h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.product-used-p {
  line-height: 175%;
}
.product-used-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.faq-h2 {
  font-size: 34px;
  margin-bottom: 8px;
  text-align: center;
}
.faq-p {
  font-size: 18px;
  margin-bottom: 50px;
  text-align: center;
}
.faq-h6 {
  font-size: 18px;
  font-weight: 500;
}
