body {
  background-color: #fff;
  color: #22343d;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h2 {
  font-size: 32px;
}
p {
  line-height: 1.62;
  margin: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}
.container {
  margin: 0 auto 100px;
  max-width: 1140px;
  padding: 0 15px;
}
.header {
  align-items: center;
  display: flex;
  gap: 72px;
  justify-content: space-between;
  margin: 0 auto 25px;
  max-width: 1140px;
  padding: 0 15px;
}
.logo {
  align-items: center;
  color: #173a56;
  display: flex;
  font-size: 30px;
  font-weight: 700;
  gap: 16px;
  height: 36px;
  justify-content: space-between;
  line-height: 0.93;
  margin-right: 237px;
  max-width: 178px;
}
.navbar {
  align-items: center;
  display: flex;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-list-item {
  color: #22343d;
  display: block;

  line-height: 1.75;
  padding: 26px 0;
}
.header-list li:first-child {
  font-weight: 600;
}
.menu-sign {
  display: flex;
  gap: 20px;
}
.sign-in,
.sign-up {
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-weight: 600;
  overflow: hidden;
  padding: 10px 24px;
  text-align: center;
}
.sign-in {
  border: 1px solid #bcd0e5;
  color: #173a56;
  min-width: 105px;
}
.sign-up {
  background-color: #02897a;
  color: #fff;
  min-width: 113px;
}
.hero .container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hero h1 {
  display: block;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}
.hero-text {
  display: block;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 48px;
}
.hero-list {
  align-items: center;
  display: flex;
  gap: 30px;
}
.hero li {
  cursor: pointer;
  display: block;
}
.hero li:first-child {
  background-color: #02897a;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  min-width: 178px;
  overflow: hidden;
  padding: 15px 42px;
}
.hero li:last-child {
  color: #02897a;
  font-weight: 600;
  min-width: 164px;
  text-decoration: underline;
}
.office-offer .container {
  padding-bottom: 50px;
}
.hero-text-container {
  max-width: 465px;
}
.product-built h2 {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 535px;
  text-align: center;
}
.product-h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 13px;
  max-width: 540px;
}
.product-list-item p {
  line-height: 1.62;
}
.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 76px;
}
.product-list-item {
  flex-basis: calc((100% - 90px) / 4);
}
.product-link {
  background: #02897a;
  border-radius: 4px;
  color: #fff;
  display: block;

  font-weight: 700;
  margin: 0 auto;
  max-width: 175px;
  overflow: hidden;
  padding: 15px 32px;
  text-transform: uppercase;
}
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.office-h4,
.p-bold {
  font-weight: 600;
}
.office-h3 {
  font-size: 32px;
  margin-bottom: 25px;
  margin-top: 8px;
}
.office-h4 {
  margin-bottom: 12px;
  margin-top: 25px;
}
.office-offer-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
}
.office-manegment-list {
  display: block;
  max-width: 450px;
  padding: 41px 0;
}
.block-max-width {
  max-width: 450px;
}
.office-offer-list-item {
  display: flex;
  flex-wrap: wrap;
  gap: 84px;
}
.office-second-list {
  margin-top: 30px;
  padding-left: 30px;
}
.office-second-li {
  margin-bottom: 25px;
}
.office-second-li:last-child {
  margin-bottom: 0;
}
.team .container {
  padding: 0 112px;
}
.team h2 {
  margin-bottom: 25px;
  text-align: center;
}
.team-text {
  display: block;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 542px;
  text-align: center;
}
.team-command {
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  display: block;
  font-weight: 500;
  min-width: 281px;
  padding: 13px 20px;
  text-align: center;
}
.team-list {
  column-gap: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  row-gap: 25px;
}
.team-list-item {
  align-items: center;
  display: flex;
  flex-basis: calc((100% - 90px) / 2);
  flex-direction: row-reverse;
  gap: 20px;
  min-width: 408px;
}
.team-list-item:first-child,
.team-list-item:last-child {
  flex-direction: row;
}
.team-link {
  background: #02897a;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: 700;
  margin: 0 auto;
  max-width: 216px;
  overflow: hidden;
  padding: 15px 30px;
}
.cont-strategies h2 {
  margin-bottom: 10px;
}
.cont-strategies .container > p {
  margin-bottom: 40px;
  max-width: 465px;
}
.cont-strategies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.cont-strategies-list li {
  border: 1px solid #dedede;
  border-radius: 8px;
  display: block;
  flex-basis: calc((100% - 60px) / 3);
  min-width: 350px;
  overflow: hidden;
}
.cont-strategies-list p:last-child {
  font-size: 24px;
  font-weight: 700;
}
.cont-bold {
  font-weight: 700;
}
.cont-strategies-desc {
  padding: 24px 27px 40px;
}
.cont-strategies-desc p:first-child {
  margin-bottom: 12px;
}
.price-table h2 {
  font-size: 34px;
  margin-bottom: 10px;
  text-align: center;
}
.price-table-desc {
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}
.price-list h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 1.67;
  margin: 0 auto 8px;
  text-align: center;
}
.price-desc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 2.5;
  margin-bottom: 40px;
  text-align: center;
}
.price-list {
  display: flex;
  gap: 72px;
  justify-content: space-between;
}
.price-list-ul li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.37;
  margin-bottom: 16px;
  text-align: center;
}
.price-list-ul li:last-child {
  margin-bottom: 30px;
}
.price-list-item {
  background-color: #02897a;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  display: block;
  flex-basis: calc((100% - 144px) / 3);
  font-family: 'Montserrat', sans-serif;
  min-width: 322px;
  overflow: hidden;
  padding: 30px 0;
}
.price-list-item span {
  color: #afafaf;
  display: block;
  letter-spacing: 0.01em;
  line-height: 1.19;
  margin-bottom: 16px;
  text-align: center;
}
.price-btn {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  color: #02897a;
  display: block;
  font-weight: 700;
  margin: 0 auto;
  max-width: 216px;
  overflow: hidden;
  padding: 15px 30px;
}
.price-list > li:first-child,
.price-list > li:last-child {
  background-color: #fff;
}
.price-list > li:first-child h3,
.price-list > li:last-child h3,
.price-list > li:first-child p,
.price-list > li:last-child p,
.price-list > li:first-child .price-list-ul li,
.price-list > li:last-child .price-list-ul li {
  color: #22343d;
}
.price-list > li:first-child .price-btn,
.price-list > li:last-child .price-btn {
  background-color: #02897a;
  color: #fff;
}
/* -----number 7 reviews------ */
.reviews-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.78;
  margin: 0 auto 10px;
  max-width: 286px;
}
.reviews-text {
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.75;
  margin: 0 auto 40px;
  max-width: 537px;
  text-align: center;
}
.reviews-list {
  display: flex;
  gap: 64px;
  justify-content: space-between;
}
.reviews-response {
  color: #737373;
  letter-spacing: 0.01em;
  line-height: 1.75;
  margin-bottom: 16px;
}
.reviews-item {
  display: flex;
  gap: 14px;
}
.reviewer-name {
  color: #02897a;

  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 150%;
}
.reviews-list li {
  border: 1px solid #dedede;
  border-radius: 5px;
  flex-basis: calc((100% - 64px) / 3);
  overflow: hidden;
  padding: 26px;
}
.reviews-item img {
  margin-right: 14px;
}
/* ----section 8----- */

.order-offer-info {
  background: #02897a;
  border-radius: 32px;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  max-width: 968px;
  overflow: hidden;
  padding-left: 51px;
  padding-right: 46px;
}
.order-join {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 151%;
  margin-bottom: 46px;
  margin-top: 49px;
}
.get-this {
  background-color: #fff;
  border: 0;
  border-radius: 8px;
  color: #02897a;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 34px;
}
/* -----footer menu----- */
.social {
  display: flex;
  gap: 20px;
  max-width: 178px;
}
.footer-list {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}
.container-footer {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}
.footer-link {
  line-height: 2.19;
}
.footer-menu {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
  max-width: 280px;
}
.footer-item {
  max-width: 15%;
  /* flex-basis: calc((100% - 90px) * 0.2); */
}
.footer-form {
  max-width: 35%;
  /* flex-basis: calc((100% - 90px) * 0.4); */
  min-width: 325px;
}
.footer-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  display: block;
  line-height: 175%;
  margin-bottom: 25px;
  min-width: 325px;
  padding: 10px 12px;
}
.footer-input::placeholder {
  color: #02897a;
  opacity: 1;
}
.footer-sign-up {
  background-color: #02897a;
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: 700;
  padding: 8px 15px;
  text-align: center;
}
.rights {
  margin: 0 auto;
  max-width: 394px;
}

/* #2 customers */
.hero-customers {
  padding: 100px 0;
  
}.product-customers {
  padding: 100px 0;
  background-color: #f5f5f5;
}
.brand-list {
  display: flex;
  gap: 64px;
  justify-content: center;
}
.hero-customers-h1 {
  font-size: 40px;
  max-width: 229px;
  margin: 0 auto 50px;
}
.product-customers-h3 {
  font-size: 34px;
  max-width: 383px;
  margin: 0 auto 50px;
}
.product-customers-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.product-customers-h4 {
  font-size: 24px;
  line-height: 137%;
  letter-spacing: 0em;
  text-align: center;
}
